- if current_user
  %nav.navbar.navbar-expand-lg.pb-0.navbar-light.bg-light
    %a.navbar-brand{ href: '/' }
      .fa.fa-home
        Eclisse MSM
    %button.navbar-toggler{ 'aria-controls' => 'navbar-supported-content',
                            'aria-expanded' => 'false',
                            'aria-label' => 'Toggle navigation',
                            'data-target' => '#navbar-supported-content',
                            'data-toggle' => 'collapse',
                            type: 'button' }
      %span.navbar-toggler-icon
    .collapse.navbar-collapse#navbar-supported-content
      %ul.nav.nav-tabs.mr-auto.border-bottom-0
        %li.nav-item
          %a.nav-link.border-bottom-0.border.border-warning.text-dark{ href: users_path,
            class: "#{'active font-weight-bold bg-warning txt-white' if current_page?(users_path)}" }
            .fa.fa-users
            Users
        %li.nav-item
          %a.nav-link.border-bottom-0.border.border-info.text-dark{ href: instruments_path,
            class: "#{'active font-weight-bold bg-info txt-white' if current_page?(instruments_path)}" }
            .fa.fa-guitar
            Instruments
            .fa.fa-drum
      %form.form-inline.mx-2.my-lg-0
        = form_tag(root_path, method: :get) do
          .input-group
            = text_field_tag :title,
              params[:title],
              autocomplete: 'off',
              placeholder: 'Search',
              class: 'form-control'
            %span.input-group-append
              %button.btn.btn-outline-secondary.btn-sm{ type: 'submit' }
                %span.fa.fa-search{ 'aria-hidden' => 'true' }
      .dropdown.mx-2
        %a.fa.fa-user-circle.text-success.my-account#dropdown-menu-button{ 'aria-expanded' => 'false',
                                                                           'aria-haspopup' => 'true',
                                                                           'data-toggle' => 'dropdown',
                                                                           type: 'button' }
        .dropdown-menu.dropdown-menu-right{ 'aria-labelledby' => 'dropdownMenuButton' }
          .dropdown-item.disabled
            = current_user.email
          .dropdown-item
            = link_to edit_user_registration_path do
              .fa.fa-users-cog
              Account settings
          .dropdown-item
            = link_to destroy_user_session_path, method: :delete do
              .fa.fa-sign-out-alt.text-danger
              %span.text-danger
                Sign out
- else
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .navbar-brand
      .fa.fa-home
        Eclisse MSM
    %button.navbar-toggler{ 'aria-controls' => 'navbar-supported-content-login',
                            'aria-expanded' => 'false',
                            'aria-label' => 'Toggle navigation',
                            'data-target' => '#navbar-supported-content-login',
                            'data-toggle' => 'collapse',
                            type: 'button' }
      %span.navbar-toggler-icon
    .collapse.navbar-collapse#navbar-supported-content-login
      %ul.nav.nav-tabs.mr-auto
        %li.nav-item
      %form.form-inline.mx-2.my-lg-0
        %button.btn.btn-outline-secondary.mr-sm-2{ type: 'button' }
          = link_to new_user_registration_path do
            .fa.fa-user-plus.text-dark
            %span.text-dark
              Sign up
        %button.btn.btn-outline-secondary{ type: 'button' }
          = link_to new_user_session_path do
            .fa.fa-sign-in-alt.text-dark
            %span.text-dark
              Log in
