!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Msm
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      %a.navbar-brand{:href => "#"}
        .fa.fa-home
          Eclisse MSM
      %button.navbar-toggler{"aria-controls" => "navbarSupportedContent",
                             "aria-expanded" => "false",
                             "aria-label" => "Toggle navigation",
                             "data-target" => "#navbarSupportedContent",
                             "data-toggle" => "collapse",
                             :type => "button"}
        %span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        %ul.nav.nav-tabs.mr-auto
          %li.nav-item
            %a.nav-link{:href => "#", :class => "calendar-tab"}
              .fa.fa-calendar-alt
                Calendar
          %li.nav-item
            %a.nav-link{:href => "users", :class => "users-tab"}
              .fa.fa-users
                Users
          %li.nav-item
            %a.nav-link{:href => "students", :class => "students-tab"}
              .fa.fa-user-circle
                Students
          %li.nav-item
            %a.nav-link{:href => "instruments", :class => "instruments-tab"}
              .fa.fa-guitar
                Instruments
          %li.nav-item
            %a.nav-link{:href => "courses", :class => "courses-tab"}
              .fa.fa-book
                Courses
          %li.nav-item
            %a.nav-link{:href => "teaches", :class => "teaches-tab"}
              .fa.fa-user-friends
                Teaches
          %li.nav-item
            %a.nav-link{:href => "bills", :class => "bills-tab"}
              .fa.fa-money-bill-alt
                Bills
        %form.form-inline.my-2.my-lg-0
          %input.form-control.mr-sm-2{"aria-label" => "Search", :placeholder => "Search", :type => "search"}/
          %button.btn.btn-outline-success.my-2.my-sm-0.fa.fa-search{:type => "submit"}
            Search
    = yield
